@model ReversiMVC.Models.Spel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AandeBeurt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AandeBeurt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler1Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler1Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler2Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler2Token)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
