@model ReversiMVC.ViewModels.ViewGame


@{
    ViewData["Title"] = "Details";
    int kolom = 0;
    int rij = 0;
    int Id = 0;
    int[] steen;
    string chart = "";
    string id = "";

}
@section Scripts {
    <script type="text/javascript" src="~/js/vendor/handlebars-v4.7.7 .js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/vendor.js"></script>
    <script type="text/javascript" src="~/js/templates.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/css" src="~/css/style/style.min.css"></script>
    <link rel="stylesheet" href="~/css/style/style.min.css">

}
<div id="table">
    <h1>Game</h1>
    @Model.Afgelopen
    <div>
        @Model.spel.AandeBeurt is aan de Beurt.
        <div hidden id="Name">
            @User.Identity.Name
        </div>
        <div id="speler1">
            Wit: @Model.spel.Speler1Token
        </div>
        <div id="speler2">
            Zwart: @Model.spel.Speler2Token
        </div>
        <div id="kolum" style="visibility:hidden">
        </div>
        <div id="rij" style="visibility:hidden">
        </div>
    </div>
    <article id="article">
        <div class="table" id="atable">

            @foreach (Kleur kleur in Model.spel.Bord)
            {
                <div hidden>
                    @(steen = new int[]{kolom, rij })
                    @(id = "f" + kolom + rij)
                </div>
                @if (kleur == Kleur.Geen)
                {
                    //if (Model.Mogeljke[0][0].Equals(steen[0]))
                    @if (Model.Mogeljke.Any(element => element[0] == steen[0] && element[1] == steen[1]))
                    {
                        @if (Model.AfgelpenZetten.Any(element => element[0] == steen[0] && element[1] == steen[1]))
                        {
                            <div class="square">
                                <div id="@id" class="fiche ZetAfgelopen"></div>
                            </div>
                        }
                        else
                        {
                            <div class="square">
                                <div id="@id" class="fiche Zet"></div>
                            </div>
                        }   
                    }
                    else
                    {
                        <div class="square">
                            <div id="@id" class=""></div>
                        </div>
                    }
                }
                @if (kleur == Kleur.Zwart)
                {
                    <div class="square">
                        <div id="@id" class="fiche black"></div>
                    </div>
                }
                @if (kleur == Kleur.Wit)
                {
                    <div class="square">
                        <div id="@id" class="fiche white"></div>
                    </div>
                }
                <div hidden>
                    @(++rij)
                </div>
                @if (rij == 8)
                {
                    <div class="clear_float"> </div>
                    <div hidden>
                        @(rij = 0);
                        @(kolom++)
                    </div>
                }
            }


        </div>
    </article>

    <form id="form" method="GET" style="visibility: hidden" action="ZetMogelijk">
        <input type='text' id="idspel" name="spelid" value=@Model.spel.ID hidden>
        <input type='text' id="idrij" name="rij" value='1'>
        <input type='text' id="idkolom" name="kolom" value=1>
        <input type='text' id="configMap" name="configMap" value=1>
        <input type='text' id="ChartNorm" name="chartNorm" value=1>
        <input type='text' id="ChartAlt" name="chartAlt" value=1>
        <input type="submit" value="Add to Cart">
    </form>
    <form id="formGeefop" method="get" style="visibility: hidden" action="GeefOp">
        <input id="@Model.spel.ID" value="1">
        <input type="submit" value="Add to Cart">
    </form>
    <form id="form" method="get" style="visibility: hidden" action="DoeZet">
        <input type='text' id="idspel" name="spelid" value=@Model.spel.ID hidden>
        <input type='text' id="idrij" name="rij" value='1'>
        <input type='text' id="idkolom" name="kolom" value=1>
        <input type="submit" value="Add to Cart">
    </form>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/chat.js"></script>
    <script type="text/javascript">
        $(() => {
            $('.Opgeven').on('click', (event) => {
                //var formgeefop = document.getElementById("formGeefop");
                //OpgevenSend();
                OpgevenSend();
                //formgeefop.submit();

            });
            $('.Join').on('click', (event) => {
                //var formgeefop = document.getElementById("formGeefop");
                //OpgevenSend();
                Join();
                //formgeefop.submit();

            });
            $('.a').on('click', (event) => {
                console.log(event.target.id);
                // klopt als game.reversi.config
                if (Game.Reversi.configMap.chart == event.target.id) {
                    Game.Reversi.configMap.chart = "";
                    document.getElementById("myChart").innerHTML = "";
                    ReloadChart();
                } else {
                    if (event.target.id == "Add") {
                        Game.Reversi.configMap.chart = "Add";

                    } else {
                        Game.Reversi.configMap.chart = "Notadd";
                    }
                    console.log("chart: " + Game.Reversi.configMap.chart)
                    try {
                        ShowChart(event.target.id);
                        //ShowChart(event.target.id);
                    } catch {
                        ReloadChart();
                    }
                }

            });

        });
    </script>


    <div>
        <a id="Add" class="a button">Stones gained</a>
        <a id="Notadd" class="a button">Stones</a>
    </div>
    @if (Model.Afgelopen)
    {
        <script type="text/javascript">
            Afgelopen();
        </script>
    }
    else
    {



        @if (ViewBag.Join == true)
        {
            <article class="Notice">
                <article>
                    <a class="clickNotice Join" asp-action="GameJoin" asp-route-id="@Model.spel.ID">Join</a>
                </article>
            </article>
        }
        else
        {
            <article id="Opgeven" class="Notice">

                @if (Model.spel.Ingame == 0)
                {
                    <article>
                        <a class="clickNotice" style="text-align: center" asp-action="Leave" asp-route-id="@Model.spel.ID">Leave</a>
                    </article>

                }
                else
                {
                    @if (Model.spel.Speler2Token.Contains("\u00A0") || Model.spel.Speler1Token.Contains("\u00A0"))
                    {
                        <arti class="SubNotice">Je tegenspeler heeft op gegeven</arti>
                        <a class="clickNotice" asp-action="ClaimWinst" asp-route-id="@Model.spel.ID">Leave</a>
                    }
                    @if (!Model.spel.Speler1Token.Contains("\u00A0") && !Model.spel.Speler2Token.Contains("\u00A0"))
                    {
                        //a class="clickNotice" id="clicker">test</a>
                        <a class="clickNotice Opgeven" style="text-align: center" asp-action="GeefOp" asp-route-id="@Model.spel.ID">Opgeven</a>
                    }
                }


            </article>
            @if ((User.Identity.Name == Model.spel.Speler1Token && Model.spel.AandeBeurt == Kleur.Wit) || (User.Identity.Name == Model.spel.Speler2Token && Model.spel.AandeBeurt == Kleur.Zwart))
            {
                <script type="text/javascript">
                    function Afgelopen() {
                        console.log(Game.Reversi.getInfo());
                        console.log(Game.Reversi.getInfoturn());
                        document.getElementById("configMap").setAttribute('value', Game.Reversi.configMap);
                        let x = document.getElementById("Result");
                        x.classList.remove("hidden");
                        let y = document.getElementById("Opgeven");
                        y.classList.add("hidden");
                        ZetAfgelopen("asdf");
                    }
                    $(() => {
                        $('.fiche1').on('click', (event) => {
                            console.log(event.target.id);
                            $("#table").load(" #table > *");
                            $("#table").load(window.location.href + " #table");
                        });
                        $('.ZetAfgelopen').on('click', (event) => {
                            var id = event.target.id; //if you want to pass an Id parameter
                            let usingSplit = id.split('');
                            document.getElementById("idrij").setAttribute('value', parseInt(usingSplit[1]));
                            document.getElementById("idkolom").setAttribute('value', parseInt(usingSplit[2]));
                            document.getElementById("configMap").setAttribute('value', Game.Reversi.configMap);
                            document.getElementById("ChartNorm").setAttribute('value', Game.Reversi.getInfoWit(Game.Reversi.getInfo()));
                            document.getElementById("ChartAlt").setAttribute('value', Game.Reversi.getInfoturn());

                            var form = document.getElementById("form");
                            form.submit();
                            ZetSend("afgelopen");

                        });

                        $('.Zet').on('click', (event) => {
                            var id = event.target.id; //if you want to pass an Id parameter
                            let usingSplit = id.split('');
                            let test = document.getElementById("Name").innerText;
                            document.getElementById("idrij").setAttribute('value', parseInt(usingSplit[1]));
                            document.getElementById("idkolom").setAttribute('value', parseInt(usingSplit[2]));
                            document.getElementById("configMap").setAttribute('value', Game.Reversi.configMap);
                            document.getElementById("ChartNorm").setAttribute('value', Game.Reversi.getInfoWit(Game.Reversi.getInfo()));
                            document.getElementById("ChartAlt").setAttribute('value', Game.Reversi.getInfoturn());

                            var form = document.getElementById("form");
                            form.submit();
                            ZetSend("a");
                            //Add();
                            var x = document.getElementById("form").elements.length;
                            var place = document.getElementById(id);

                            document.getElementById("rij").innerText = usingSplit[1];
                            document.getElementById("kolum").innerText = usingSplit[2];
                            //Navigate to the new URL
                            if (place.classList.contains("white") || place.classList.contains("black")) {
                            } else {
                                Wit:
                                if ("Wit: " + test === document.getElementById("speler1").innerText) {
                                    //document.getElementById(event.target.id).classList.add("white")
                                } else {
                                    //document.getElementById(event.target.id).classList.add("black")
                                }
                                document.getElementById(event.target.id).classList.add("fade-in");
                            }


                        });
                    });



                    //tegelOnClick(event.currentTarget.offsetLeft);
                    //student uitwerking
                </script>
            }


        }
    }



</div>
<div id="Result" class="hidden">
    <Result>
        @Model.spel.Resultaat(Model.spel.Bord, Model.spel.Speler1Token);
    </Result>
    <Result>
        @Model.spel.Resultaat(Model.spel.Bord, Model.spel.Speler2Token);
    </Result>
    <a class="clickNotice button"  asp-action="Delete" asp-route-id="@Model.spel.ID">Akkoord</a>
</div>
@if (Model.Afgelopen)
{
    <script type="text/javascript">
        function Afgelopen() {
            let x = document.getElementById("Result");
            x.classList.remove("hidden");
            x.classList.add("scorecontainer");
            let y = document.getElementById("Opgeven");
            y.classList.add("hidden");
            console.log("tsdsa");
        }
        Afgelopen();
        ZetAfgelopen("asdf");
    </script>
} 
    <div id="id"></div>

    <script type="text/javascript">

    function ReloadChart() {
        $("#id").load(" #id > *");
        $("#id").load(window.location.href + " #id");
    }
    function ShowChart(data) {
        if (data === "Add" || data === "Notadd") {
            document.getElementById("id").innerHTML = spa_templates.feedbackWidget.stats();

            //Add;
            function ChartTurn() {
                setTimeout(function () {
                    Game.Chart.getChart(Game.Reversi.configMap.chartTurn, "Amount of places gained");
                }, 500);
            }
            function ChartInfo() {
                setTimeout(function () {
                    Game.Chart.getChart(Game.Reversi.configMap.chartInfo, "Amount of places claimed");
                }, 500);
            }
            Game.Reversi.configMap.chartInfo = [];
            Game.Reversi.configMap.chartTurn = [];


            if (data === "Add") {
                ChartTurn(Game.Reversi.loadInfo(@Model.spel.ID));
            }
            if (data === "Notadd") {
                ChartInfo(Game.Reversi.loadInfo(@Model.spel.ID));
            }

        }

    }

    </script>
    @if (Model.Afgelopen)
    {
        <script type="text/javascript">
                    //Afgelopen();
                //alert("afd")
                //ZetAfgelopen("afglelpen");
                //werkt dus zetsend if afgelopen afgelopen()
        </script>
    }