@model ReversiMVC.Models.Spel

@{
    ViewData["Title"] = "Join";
}
@section Scripts {
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/css" src="~/css/style/style.min.css"></script>
    <link rel="stylesheet" href="~/css/style/style.min.css">

}
<h1>Join</h1>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Omschrijving)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Omschrijving)
    </dd>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ID)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AandeBeurt)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AandeBeurt)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Speler1Token)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Speler1Token)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Speler2Token)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Speler2Token)
    </dd>
</dl>
<div>
    <h4>Spel</h4>
</div>
<a asp-action="Game" asp-route-id="@Model.ID">Join</a>
<a asp-action="Index">Back to List</a>
